*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(63, 62, 62);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    
}

#corpo{
    width: 400px;
    padding: .5em ;
    background-color: #dadada;
    color:black;
    display: flex;
    flex-direction: column;
}
#calculadora h3{
    font-size: .8em;
    font-weight: 300;
    color:#666;
}

#calculadora{
    text-align: right;

}

#previaop{
    color: #777;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}
#calculadora{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
}
#teclado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#teclado button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #646464;
    cursor:pointer;
}

#teclado .numero{
    background-color: #f3f3f3;
}
 .numero:hover{
    background-color: #bababa;
    border-color: #9999;
} 
#teclado #igual-btn{
    grid-column: span 2;
    background-color: chocolate;
    
}
#teclado #igual-btn:hover{
    background-color: rgb(156, 80, 25);
    
}